.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 2rem;
    width: 40vw;
    padding: 30px;
}

input,
select {
    width: 100%;
    height: 2rem;
    margin-bottom: 0.5rem;
}

.input-error {
    border: 0.13rem solid #BC3030;
}

.alert {
    color: #BC3030;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
}

.btn-zone {
    margin-top: 20px;
}